---
layout: default
title: Child Support Calculator | Canada Child Support Guidelines
social-title: Child Support Calculator
type: main-index
description: Child support calculator based on the Canada Child Support Guidelines.
calculator:
  region: Canada
  description: |
    The child support calculator can be used to calculate the amount of child support money a parent has to pay to the other parent as part of a separation and or divorce settlement.
  text: |
    <p/>For advanced child support calculations including set-offs and split or shared custody situations, try this <a href="https://www.mcgurk.ca/child-support-calculator/">Child Support Calculator</a>.
---

    <section class="header">
      <h1 class="title">Child Support Calculator</h1>
      <h3 class="title">for Canada</h3>
      <a class="button button-primary" href="#calculator">Calculate Child Support</a>

      <div class="value-props row">
        <div class="four columns value-prop">
          <img class="value-img" src="{{ site.url }}{{ site.baseurl }}res/img/misc/canada.png" width="50%">
          Easy child support table look-ups in seconds, for any Canadian province.
        </div>
        <div class="four columns value-prop">
          <img class="value-img" src="{{ site.url }}{{ site.baseurl }}res/img/misc/browser.png" width="50%">
          For lawyers - embed the calculator in your web page to engage and inform potential clients.
        </div>
        <div class="four columns value-prop">
          <img class="value-img" src="{{ site.url }}{{ site.baseurl }}res/img/misc/supreme-court-of-canada.png" width="50%">
          Based on the Canadian child support guidelines, published by Justice Canada.
        </div>
      </div>
    </section>

{% include calculator.html %}
<hr/>
<h6>Child Support in Canada</h6>
<p/>When children are still not "of age", then parents are still by law held responsible for the raising of their children and their financial obligations to those children are supposed to remain intact.&nbsp; Parents have the legal fiduciary duty to provide for their children until they become of age and become non-dependent on their parents.
<p/><img align="left" alt="Child support" border="0" hspace="7" src="res/img/misc/sad_girl.jpg" title="" vspace="7" />The <a href="http://www.justice.gc.ca/eng/fl-df/child-enfant/ft-tf.html">child support guideline tables</a> contained within The Federal Divorce Act stipulate how child support payments are to be calculated and the total amounts that are to be disbursed to the receiving parents.&nbsp; The guidelines are intended to try and ensure a degree of fairness and equality based on the amount of money parents earn with some consideration of their expenses, including taxes.
<p/>Child support orders based on the child support guidelines are enforceable anywhere in the country.&nbsp; If a parent fails to make payments in accordance with their child support obligations they can be held accountable.&nbsp; This can result in serious legal consequences for the parent failing on those obligations. Ordinary civil enforcement proceedings are available including the seizure and sale of homes and vehicles among other assets..&nbsp; Most important to note is that the children can ultimately suffer if there is a financial shortfall resulting from a parent&rsquo;s failed paying obligations.
<p/>For parents receiving child support payments, this child support calculator can be a guideline and give you an idea as to what you might be receiving as monthly payments for child support.&nbsp; The payment receiving parents may not have an exact total on what the paying parent grosses per year, but even if they have a rough idea it is something to start with. The amount calculated by the child support calculator can assist you as a payment receiver in budgeting expenses and costs that you will incur paying for the necessities your children will require.
<p/><em>NOTE: The information contained within and on this website is meant for informative purposes only.&nbsp; This child support calculator and website are not meant to replace the information and advice of legal counsel. Ultimately, the courts may have the final say as to what a parents financial child support obligations should and would be.&nbsp; For clarification on Child Support Calculations, and any other matters related to Divorce and Family Law, you are encouraged to seek assistance of qualified legal counsel in your area.&nbsp; If you think you might not be able to afford legal counsel, you should contact the local Legal Aid Office where you live for further information.</em>

{% include resources.html %}

{% include calculators.html %}
