<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/res/css/normalize.css">
  <link rel="stylesheet" href="/res/css/skeleton.css">
  <link rel="stylesheet" href="/res/css/custom.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/res/js/jquery.min.js"></script>
  <script src="/res/js/site.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/res/img/misc/favicon.ico">

</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
  <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href=""><img src="/favicon-32x32.png" style="margin-right:20px;vertical-align: middle;position:relative;margin-top:-5px">Child Support Calculator</a></li>
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#codeNavPopover">Provinces</a>
            <div id="codeNavPopover" class="popover">
              <ul class="popover-list">
                <li class="popover-item">
                  <a class="popover-link" href="/ontario.html">Ontario</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/alberta.html">Alberta</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/british-columbia.html">British Columbia</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/saskatchewan.html">Saskatchewan</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/manitoba.html">Manitoba</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/quebec.html">Quebec</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/newfoundland-&-labrador.html">Newfoundland &amp; Labrador</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/nova-scotia.html">Nova Scotia</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/prince-edward-island.html">Prince Edward Island</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/northwest-territories.html">Northwest Territories</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/nunavut.html">Nunavut</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/yukon.html">Yukon</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="navbar-item"><a class="navbar-link" href="/embed.html">Embed!</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/blog/index.html">blog</a></li>
      </div>
    </nav>
    <div class="navbar-spacer"></div>
  </div>
