<!-- Other Calculators -->
    <div class="docs-section" id="other-calculators">
      <h6 class="docs-header">Other Calculators</h6>
      <p>The Canada Child Support Guidelines set out child support tables specific to each province and territory. We've made child support calculators specific to each province:
      <div class="row docs-example">
        <div class="six columns">
          <h6>Provinces</h6>
          <ul>
            <li><a href="alberta.html">Alberta Child Support Calculator</a></li>
            <li><a href="british-columbia.html">British Columbia Child Support Calculator</a></li>
            <li><a href="manitoba.html">Manitoba Child Support Calculator</a></li>
            <li><a href="new-brunswick.html">New Brunswick Child Support Calculator</a></li>
            <li><a href="newfoundland-&-labrador.html">Newfoundland and Labrador Child Support Calculator</a></li>
            <li><a href="nova-scotia.html">Nova Scotia Child Support Calculator</a></li>
            <li><a href="ontario.html">Ontario Child Support Calculator</a></li>
            <li><a href="prince-edward-island.html">Prince Edward Island Child Support Calculator</a></li>
            <li><a href="quebec.html">Quebec Child Support Calculator</a></li>
            <li><a href="saskatchewan.html">Saskatchewan Child Support Calculator</a></li>
          </ul>
        </div>
        <div class="six columns">
          <h6>Territories</h6>
          <ul>
              <li><a href="northwest-territories.html">Northwest Territories Child Support Calculator</a></li>
              <li><a href="nunavut.html">Nunavut Child Support Calculator</a></li>
              <li><a href="yukon.html">Yukon Child Support Calculator</a></li>
          </ul>
          <h6>Other Websites</h6>
          <ul>
              <li>Advanced <a href="https://www.davidsonfraese.ca/child-support-calculator/">child support calculator</a> with shared custody calculations and spousal support.</li>
              <li>The <a href="https://www.justice.gc.ca/eng/fl-df/child-enfant/look-rech.asp">Government of Canada</a> child support table amount look-up tool.</li>
              <li>A <a href="https://www.davidsonfraese.ca/spousal-support-calculator/">spousal support calculator</a> based on the Federal Spousal Support Guidelines.</li>
          </ul>
        </div>
      </div>
    </div>